<app-header [options]="{ title: lang.i18n.header.forgotPassword }">
</app-header>

<ion-content class="content-color-background">
  <form [formGroup]="forgotPasswordForm">
    <ion-row>
      <div class="ion-margin-vertical background-input">
        <ion-input
          type="text"
          placeholder="Please enter email"
          formControlName="forgotPassword"
        ></ion-input>
      </div>
    </ion-row>
    <ion-grid>
      <ion-row>
        <ion-col size="9" class="button-margin">
          <ion-button type="submit" expand="block" color="black-blue">{{
            lang.i18n.forgotPassword.submit
          }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
