.content-color-background {
  --ion-background-color: #acd1da;
}

ion-content {
  .background-input {
    display: flex;
    border-radius: 40px;
    margin-top: 150px;
    height: 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    justify-content: center;
    align-items: center;
  }
}

.button-margin {
  margin-left: auto;
  margin-right: auto;
}
