
.background-color{
    background-color: #808080;
}

.content-color-background{
    --ion-background-color: #ACD1DA;
}

.background-input-username{
    border-radius: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: white;
}

.display{
    margin-left: 60px;
    margin-right: 60px;
    background-color: #808080;
    margin-top: 20px;
}

.background-input-password{
    border-radius: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: white;
}