<app-header></app-header>
<ion-content class="content-color-background">
  <form [formGroup]="loginForm">
    <div padding class="display">
      <div padding ion-margin-vertical class="background-input-username">
        <ion-input
          type="text"
          placeholder="Username"
          formControlName="userName"
        ></ion-input>
      </div>
      <div padding ion-margin-vertical class="background-input-password">
        <ion-input
          type="password"
          placeholder="Password"
          formControlName="password"
        ></ion-input>
      </div>
    </div>
    <ion-button type="submit" expand="block" color="primary">Login</ion-button>
    <ion-button type="submit" expand="block" color="primary">New User</ion-button>
  </form>
</ion-content>
