<app-header></app-header>
<ion-content class="content-color-background">
  <form [formGroup]="loginForm">
    <div padding class="display" align-self-center>
      <div padding ion-margin-vertical class="background-input-username">
        <ion-input
          type="text"
          placeholder="Username"
          formControlName="userName"
        ></ion-input>
      </div>
      <div padding ion-margin-vertical class="background-input-password">
        <ion-input
          type="password"
          placeholder="Password"
          formControlName="password"
        ></ion-input>
      </div>
    </div>
    <ion-grid>
      <ion-button type="submit" expand="block" color="black-blue"
        >Login</ion-button
      >
      <ion-button type="submit" expand="block" color="black-blue"
        >New User</ion-button
      >

      <ion-row class="ion-margin-vertical"
        ><div text-center class="w-100"><a href="" text-center>T&Cs</a></div>
      </ion-row>
      <ion-row class="ion-margin-vertical"
        ><div text-center class="w-100">
          <a routerLink="forgotpassword">Forgot Password??</a>
        </div></ion-row
      >
      <ion-row class="ion-margin-vertical " id="locale">
        <ion-col>
          <div class="ion-text-end">
            <ion-text [class.selected-locale]="lang.i18n.locale === 'en'">
              EN
            </ion-text>
            <ion-text [class.selected-locale]="lang.i18n.locale === 'de'">
              DE
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
