<ion-header class="row-background-color">
  <ion-grid>
    <ion-row>
      <ion-col size="12" align-self-center text-center>
        <ng-container
          align-self-center
          class="ion-margin-vertical"
          *ngIf="normalHeader; else elseLogo"
        >
        </ng-container>
        <ng-template #normalHeader>
          {{ options.title }}
        </ng-template>
        <ng-template #elseLogo>
          <div class="wrapper">
            <div class="img-height"></div>
          </div>
          <ion-col size="5" class="color-text size-text">Basildon</ion-col>
          <ion-col size="5" class="size-text">Council</ion-col>
          <ion-col size="12"
            ><div class="size-text">Basildon Bellericay Wickford</div></ion-col
          >
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
