<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="3" align-self-center></ion-col>
      <ion-col padding size="6" align-self-center text-center>
        <ion-text *ngIf="options?.title; else elseLogo">
          {{ options.title }}
        </ion-text>
        <ng-template #elseLogo>
          <ng-container>
             <img class="img-height" src="../../../../assets/img/Background.png">
            
               <ion-col size="5" class="color-text">Basildon</ion-col>
               <ion-col size="5">Council</ion-col>
           
          </ng-container>
        </ng-template>
      </ion-col>
      <ion-col size="3">
        
          <ion-col size="6"> EN </ion-col>
          <ion-col size="6"> DE </ion-col>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
